<%= flash[:notice] %>
<table>
	<thead>
		<th>User_Name</th>
		<th>User_Email</th>
		<th>Number</th>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
			<!-- 	<td><%= user.user %></td> -->
				<td><%= user.name %></td>
				<td><%= user.email %></td>
				<td><%= user.number %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<div>
	<h4> Import that data! </h4>
		<%= form_tag import_users_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import CSV" %>
		<% end %> 
</div>